.introducao-bg {
  background: var(--cor-2);
  position: relative;
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 400px;
  gap: 0px 40px;
  position: relative;
}

.introducao img {
  height: 100%;
  object-fit: cover;
}

.introducao-conteudo {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  align-self: center;
}

.introducao-conteudo p {
  max-width: 50ch;
}

.introducao h1 {
  margin-bottom: 0px;
}

.introducao p {
  margin-bottom: 0px;
}

.name {
  display: inline-block;
  font-family: "Protest Guerrilla", serif;
  color: #3e92e0;
}

.foto-perfil {
  max-width: 400px;
  height: 550px;
  background-image: url(/img/foto-perfil.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  align-self: center;
  position: relative;
}

.foto-perfil {
  animation-delay: 0.5s;
}

.flex-btn {
  display: flex !important;
  gap: 20px;

  color: aqua;
  align-items: center;
}

@media (max-width: 800px) {
  .background-svg {
    display: none;
  }
  .introducao {
    padding-top: 40px;
    background: var(--cor-11);
    box-shadow: inset 0 -60px var(--cor-0);
  }
  .introducao-conteudo {
    padding-bottom: 0px;
  }
  .introducao h1 {
    margin-bottom: 16px;
  }
  .introducao {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .introducao img {
    width: 100%;
  }

  .flex-btn {
    gap: 10px;
  }

  .flex-btn img {
    width: 20px;
  }

  .foto-perfil {
    align-self: center;
  }
}
