.projects-bg {
  background: var(--cor-0);
}

.projects {
  padding-top: 50px;
  padding-bottom: 100px;
}
.projects h1 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.projects h1::before {
  content: "";
  display: inline-block;
  height: 23px;
  width: 4px;
  margin-right: 8px;
  background: var(--cor-5);
}
